* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.main{
    max-width: 1170px;
    border:1px solid grey;
    margin: auto;
    text-align: center;
}

header {
    display: flex;
    gap: 40px;
    border-top: 2px solid #a19d9d;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

.header-left{
    display: flex;
    align-items: center;
}

.logo {
    padding: 24px 30px;
    border-right: 1px solid #cccc;
}

.address {
    padding: 20px;
}

.address h3 {
    margin-bottom: 5px;
    font-size: 18px;
}

.address p {
    font-size: 14px;
}

.search-box {
    display: flex;
    flex-grow: 1;
    background-color: #f8f8f8;
    border: 1px solid #f4f4f4;
    border-radius: 15px;

}

.search-box input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    
}

.search-box input:focus{
    outline: none;
}

.search-box button {
    padding: 10px;
    background-color: transparent;
    border: none;
}

.header-btn{
    display: flex;
    margin-right: 40px;
    gap: 40px;

}

.header-btn button{
    padding: 15px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #504d4d;

}

.header-btn button:last-child {
    background-color: rgb(12, 131, 76);
    color: white;
    border-radius: 10px;
    font-weight: bold;

}


.banner-section {
    max-width: 1280px;
    margin: auto;
    display: flex;
}

.order-banner {
    max-width: 1280px;
    margin: auto;
    display: flex;
}

.banner-item{
    flex-basis: 27%;
    margin: 1%;
}

.banner-item img {
    width: 100%;
}

.banner-section img {
    width: 100%;
}

.category-section {
    max-width: 1280px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.shop-item {
    flex-basis: 10%;
}

.shop-item img {
    width: 100%;
}

.heading-row {
    /* margin-bottom: 20px; */
    display: flex;
    align-items: center;
    /* margin-left: 125px; */
    padding: 20px;
    
}

.product-section {
    width: 1280px;
    margin: auto;
}

.heading-row h2 {
    font-size: 22px;
}

.heading-row a {
    color: #328839;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}


.product-row {
    width: 100%;
    margin: 30px 0;
    /* border: 1px solid black; */
    display: flex;
    
}

.product-item {
    flex-basis: 15%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.product-item img {
    width: 80%;
}

.img {
    margin: auto;
    padding: 15px;
    text-align: center;
}

.img p {
    display: block;
    font-size: 10px;
    text-align: left;
}

