* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.main{
    max-width: 1170px;
    border:1px solid grey;
    margin: auto;
    text-align: center;
}

header {
    display: flex;
    gap: 40px;
    border-top: 2px solid #a19d9d;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

.header-left{
    display: flex;
    align-items: center;
}

.logo {
    padding: 24px 30px;
    border-right: 1px solid #cccc;
}

.address {
    padding: 20px;
}

.address h3 {
    margin-bottom: 5px;
    font-size: 18px;
}

.address p {
    font-size: 14px;
}

.search-box {
    display: flex;
    flex-grow: 1;
    background-color: #f8f8f8;
    border: 1px solid #f4f4f4;
    border-radius: 15px;

}

.search-box input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    
}

.search-box input:focus{
    outline: none;
}

.search-box button {
    padding: 10px;
    background-color: transparent;
    border: none;
}

.header-btn{
    display: flex;
    margin-right: 40px;
    gap: 40px;

}

.header-btn button{
    padding: 15px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #504d4d;

}

.header-btn button:last-child {
    background-color: rgb(12, 131, 76);
    color: white;
    border-radius: 10px;
    font-weight: bold;

}


.banner-section {
    max-width: 1280px;
    margin: auto;
    display: flex;
}

.order-banner {
    max-width: 1280px;
    margin: auto;
    display: flex;
}

.banner-item{
    flex-basis: 27%;
    margin: 1%;
}

.banner-item img {
    width: 100%;
}

.banner-section img {
    width: 100%;
}

.category-section {
    max-width: 1280px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.shop-item {
    flex-basis: 10%;
}

.shop-item img {
    width: 100%;
}

.heading-row {
    /* margin-bottom: 20px; */
    display: flex;
    align-items: center;
    /* margin-left: 125px; */
    padding: 20px;
    
}

.product-section {
    width: 1280px;
    margin: auto;
}

.heading-row h2 {
    font-size: 22px;
}

.heading-row a {
    color: #328839;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}


.product-row {
    width: 100%;
    margin: 30px 0;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    
}

.product-item {
    flex-basis: 15%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

.product-item img {
    width: 80%;
}

.img {
    margin: auto;
    padding: 15px;
    text-align: center;
}

.img p {
    display: block;
    font-size: 10px;
    text-align: left;
    background-color: #f8f8f8;
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
    width: 50px;
    gap: 5px;
}

.product-content {
    padding: 15px;
    padding-top: 0;
}

.product-content h3 {
    font-size: 14px;
    margin-bottom: 15px;
}

.product-content p {
    font-size: 12px;
    color: #827676;
}

.btn-priceOuter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-priceOuter button {
    border: 1px solid #328839;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    width: 60px;
    height: 30px;
    color: #328839;
    background-color: #f8fcf8;
} 


footer {
    padding: 40px 0px 0px 0px;
}

.footer-mid {
    max-width: 1280px;
    margin: auto;
}

.footer-mid-row1 {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}


.footer-mid-row1-left {
    flex-basis: 30%;
    /* background-color: orange; */
}

.footer-mid-row1-left h3 {
    margin-bottom: 20px;

}

.footer-mid-row1-right {
    flex-basis: 70%;
    /* background-color: red; */

}

.quick-links {
    display: flex;

}

.quick-links ul {
    flex-basis: 33%;
    list-style: none;
}

.quick-links li a {
    display: flex;
    color: #666666;
    margin-bottom: 8px;
    font-weight: 400;
}

.quick-links ul li a {
    text-decoration: none;
    font-size: 14px;
}



.footer-mid-row1-right .See {
    text-decoration: none;
    font-size: 17px;
    color: #328839;
    margin-left: 15px;
}

.footer-mid-row1-right h3 {
    display: inline-block;
    margin-bottom: 30px;
}

.footer-mid-row1-right .quick-links-right {
    display: flex;
    /* gap: 50px; */
}

.footer-mid-row1-right ul a {
    display: flex;
    font-size: 14px;

}

.quick-links-right ul li {
    list-style: none;
    text-decoration: none;
}

.quick-links-right ul {
    flex-basis: 33%;
}



.footer-mid-row1-right .quick-links-right a {
    color: #666666;
    margin-bottom: 8px;
    font-weight: 400;
    text-decoration: none;
}

.footer-links {
    margin: auto;
    padding: 20px;
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* margin-bottom: 15px;  */
}

.headingfoot p{
    font-size: 12px;
    color: #666666;
 
}



.source {
    display: flex;
    align-items: center;
    gap: 11px;
    text-align: center;
    justify-content: center;
    flex-basis: 40%;
}

.source img {
    width: 20%;
}

.source p {
    font-size: 14px;
    color: #827676;
    font-weight: bold;
}

.platform {
    display: flex;
    gap: 25px;
}


.ending {
    padding: 15px;
}

.ending p {
    font-size: 14px;
    color: #666666;
}




